body {
    padding: 30px 30px 30px 30px;
    width:120px;
    height: 120px;

}
table {
    border-collapse: collapse;
    border-bottom: 1px;
}
th {
    padding: 10px 10px 10px 10px;
}
td {
    border: 1px solid;
}
tr td {
    background-color: white;
}
tr:nth-child(2){
    border: 1px solid;

}
tr:nth-child(1){
    color: #0000fa;
    font-size:xxx-large ;
}