html * {
    margin: 0;
    padding: 0
}
*:focus {
    outline: 0
}
img {
    border: 0
}
.clr {
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    font-size: 0
}
body {
    font: 13px/18px sans-serif;
    background: #c8d8ee;
    margin: 0;
    padding: 0
}
h2 {
    font: normal 20px arial;
    margin-bottom: 5px
}
p {
    padding: 5px 0
}
.wrapper {
    width: 960px;
    margin: auto;
    border: 0;
    padding: 10px;
    background: #eef2fb
}
#header {
    background: #5787d3;
    padding: 10px;
    border-radius: 5px
}

#header a {
    color:#fff;
    font:bold 22px sans-serif;
    text-decoration:none
}

#leftdiv {
    width: 180px;
    float: left
}
#main_menu {
    list-style-type: none
}
#main_menu li a {
    text-decoration: none;
    display: block;
    color: #555;
    padding: 7px;
    border-bottom: 1px solid #fff;
    font: bold 13px arial, sans-serif
}
#main_menu li a:hover {
    background: #fafafa
}
#main {
    margin-top: 10px
}
#content {
    background: #fff;
    float: right;
    width: 740px;
    padding: 0 15px 15px 15px;
    border-radius: 5px
}
#footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center
}
#footer a {
    color: #222
}
.code {
    padding: 10px;
    margin: 0 20px;
    background: #f5f5f5;
    border-radius: 5px
}
.help_tus {
    background: #f5f5f5;
    padding: 5px 8px;
    border-radius: 4px;
    color: #555;
    border-right: 3px solid #f0f0f0;
    border-bottom: 3px solid #f0f0f0
}
.ad728x90 {
    padding: 10px 5px
}
#hm_yan {
    width: 360px;
    float: right
}
.cevre {
    border: 3px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    font: normal 18px arial, sans-serif
}
.biginput {
    padding: 2px 8px;
    font: normal 18px arial, sans-serif;
    text-align: right;
    vertical-align: middle
}
.biginput:focus {
    background: #fff8e4
}
.bigselect {
    padding: 4px;
    font: normal 18px/20px arial, sans-serif;
    text-align: right;
    vertical-align: middle
}
.bigselect:focus {
    background: #fff8e4
}
.sifirla {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #d14836;
    background: #d74937;
    color: #fff;
    background-image: -moz-linear-gradient(top, #e5634b, #c4261c);
    background-image: -webkit-linear-gradient(top, #e5634b, #c4261c);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e5634b), color-stop(1, #c4261c));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#e5634b, EndColorStr=#c4261c)";
    background-image: linear-gradient(top, #c4261c, #e5634b);
    font: normal 13px Arial;
    border-radius: 5px
}
.sifirla:active {
    background: #a00;
    background-image: -moz-linear-gradient(top, #c4261c, #e5634b);
    background-image: -webkit-linear-gradient(top, #c4261c, #e5634b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c4261c), color-stop(1, #e5634b));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#c4261c, EndColorStr=#e5634b)";
    background-image: linear-gradient(top, #e5634b, #c4261c)
}
.sifirla:hover {
    box-shadow: #ccc 1px 1px 3px
}
.esittir {
    vertical-align: middle;
    height: 30px;
    border: 1px solid #3079ed;
    color: #fff;
    background: #4f80d6;
    background-image: -moz-linear-gradient(top, #6eb2e6, #4169ce);
    background-image: -webkit-linear-gradient(top, #6eb2e6, #4169ce);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6eb2e6), color-stop(1, #4169ce));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#6eb2e6, EndColorStr=#4169ce)";
    background-image: linear-gradient(top, #4169ce, #6eb2e6);
    width: 120px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 4px
}
.esittir span {
    font: bold 16px/28px Verdana
}
.esittir:hover {
    background: #00a;
    background-image: -moz-linear-gradient(top, #4169ce, #6eb2e6);
    background-image: -webkit-linear-gradient(top, #4169ce, #6eb2e6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4169ce), color-stop(1, #6eb2e6));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#4169ce, EndColorStr=#6eb2e6)";
    background-image: linear-gradient(top, #6eb2e6, #4169ce)
}
#kesir_islemler span {
    display: inline-block;
    width: 30px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-top: 0;
    text-align: center;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #fafafa, whiteSmoke);
    background-image: -webkit-linear-gradient(top, #fafafa, whiteSmoke);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, whiteSmoke));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa, EndColorStr=#f5f5f5)";
    background-image: linear-gradient(top, #fafafa, whiteSmoke)
}
#kesir_islemler span:first-child {
    border-top: 1px solid #ccc
}
#kesir_islemler span:hover {
    box-shadow: #ccc 0 0 3px;
    background: #fff
}
#kesir_islemler span.active {
    display: inline-block;
    border-color: #3079ed;
    color: #fff;
    background: #4f80d6;
    background-image: -moz-linear-gradient(top, #6eb2e6, #4169ce);
    background-image: -webkit-linear-gradient(top, #6eb2e6, #4169ce);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6eb2e6), color-stop(1, #4169ce));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#6eb2e6, EndColorStr=#4169ce)";
    background-image: linear-gradient(top, #4169ce, #6eb2e6)
}
#cetvel {
    position: absolute;
    width: 700px;
    border: 5px solid #fff;
    z-index: 9998
}
#ekranCozunurluguAyar {
    box-shadow: #ccc 1px 1px 3px;
    display: none;
    position: absolute;
    z-index: 9999;
    width: 600px;
    padding: 10px 7px;
    background: #f5f5f5;
    border: 3px solid #eee;
    border-radius: 5px
}
#ekranBoyutuMenu {
    box-shadow: #ccc 1px 1px 3px;
    display: none;
    position: absolute;
    z-index: 9999;
    width: 600px;
    padding: 10px 7px;
    background: #f5f5f5;
    border: 3px solid #eee;
    border-radius: 5px
}
#ekranBoyutuMenu>div {
    display: inline-block;
    width: 30px;
    padding: 5px;
    margin: 4px 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #fafafa, whiteSmoke);
    background-image: -webkit-linear-gradient(top, #fafafa, whiteSmoke);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, whiteSmoke));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa, EndColorStr=#f5f5f5)";
    background-image: linear-gradient(top, #fafafa, whiteSmoke)
}
#ekranBoyutuMenu>div:hover {
    border-color: #eee;
    background: #fff
}
.okButton {
    padding: 4px 10px;
    border: 1px solid #3079ed;
    color: #fff;
    background: #4f80d6;
    background-image: -moz-linear-gradient(top, #6eb2e6, #4169ce);
    background-image: -webkit-linear-gradient(top, #6eb2e6, #4169ce);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6eb2e6), color-stop(1, #4169ce));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#6eb2e6, EndColorStr=#4169ce)";
    background-image: linear-gradient(top, #4169ce, #6eb2e6);
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 4px
}
.okButton:hover {
    box-shadow: #ccc 1px 1px 3px
}
.okButton:active {
    background: #00a;
    background-image: -moz-linear-gradient(top, #4169ce, #6eb2e6);
    background-image: -webkit-linear-gradient(top, #4169ce, #6eb2e6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4169ce), color-stop(1, #6eb2e6));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#4169ce, EndColorStr=#6eb2e6)";
    background-image: linear-gradient(top, #6eb2e6, #4169ce)
}
.delButton {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #d14836;
    background: #d74937;
    color: #fff;
    background-image: -moz-linear-gradient(top, #e5634b, #c4261c);
    background-image: -webkit-linear-gradient(top, #e5634b, #c4261c);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e5634b), color-stop(1, #c4261c));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#e5634b, EndColorStr=#c4261c)";
    background-image: linear-gradient(top, #c4261c, #e5634b);
    font: normal 13px Arial;
    border-radius: 5px
}
.delButton:active {
    background: #a00;
    background-image: -moz-linear-gradient(top, #c4261c, #e5634b);
    background-image: -webkit-linear-gradient(top, #c4261c, #e5634b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c4261c), color-stop(1, #e5634b));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#c4261c, EndColorStr=#e5634b)";
    background-image: linear-gradient(top, #e5634b, #c4261c)
}
.delButton:hover {
    box-shadow: #ccc 1px 1px 3px
}
#hm_container {
    position: relative;
    margin-left: 5px;
    height: 360px;
    width: 360px;
    float: left;

}
#hesapmakinesi {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 300px;
    padding: 10px 8px 15px 7px;
    border: 3px solid #e0e0e0;
    border-radius: 10px;
    background: #fff
}
#islemgecmisi {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 5px;
    margin: 0 0 0 10px;
    width: 280px;
    padding: 10px;
    border: 3px solid #d0d0d0;
    border-radius: 0 10px 10px 0;
    height: 320px;
    background: #f0f0f0; /*url(img/ig-fon.png) 50% 50% no-repeat*/
    color: #777
}
#islemgecmisi span {
    display: block;
    padding: 5px 10px;
    font-weight: bold;
    background: #999;
    color: #fff;
    border-radius: 6px 6px 0 0
}
#islemgecmisi em {
    padding: 3px 5px;
    font-size: 11px;
    cursor: pointer;
    float: right;
    display: none
}
#islemgecmisi em:hover {
    background: #e0e0e0
}
#ig_button {
    position: absolute;
    top: 10px;
    right: -35px;
    width: 35px;
    height: 62px;
    background: url(img/ig_button.png);
    cursor: pointer
}
#hmlog {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: 275px
}
#hmlog li {
    padding: 3px 5px;
    border-bottom: 1px dotted #bbb;
    background: #fcfcfc
}
#hmlog li:hover {
    background: #fff
}
#hesapmakinesi #hm_islem {
    min-height: 20px;
    color: #222;
    font: normal 12px verdana;
    padding-right: 10px;
    text-align: right;
    overflow: hidden
}
#hesapmakinesi #hm_sonuc {
    margin: 5px 2px;
    padding: 7px 10px 0 10px;
    border: 1px solid #d9d9d9;
    border-top-color: #c0c0c0;
    width: 270px;
    height: 36px;
    overflow: hidden;
    direction: ltr;
    border-radius: 3px
}
#hesapmakinesi #hm_sonuc #hm_ekran {
    font: normal 26px arial;
    white-space: nowrap;
    text-align: right;
    float: right
}
#hesapmakinesi #hm_ekran sup {
    position: relative;
    bottom: .4em;
    font-size: 75%;
    vertical-align: baseline
}
#hesapmakinesi #hm_ekran span {
    color: #eee
}
#hm_tuslar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0;
}
#hm_tuslar sup {
    font-size: 11px
}
#hm_tuslar>div {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px
}
#hm_tuslar>div>div {
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
    height: 30px;
    text-align: center;
    margin: 4px;
    border: 1px solid #dedede;
    background: whiteSmoke;
    background-image: -moz-linear-gradient(top, #fafafa, whiteSmoke);
    background-image: -webkit-linear-gradient(top, #fafafa, whiteSmoke);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, whiteSmoke));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa, EndColorStr=#f5f5f5)";
    background-image: linear-gradient(top, #fafafa, whiteSmoke);
    width: 21%;
    cursor: pointer;
    border-radius: 3px
}
#hm_tuslar>div>div>div {
    font: normal 14px/27px Arial
}
#hm_tuslar>div>div.rakam>div {
    font-size: 18px
}
#hm_tuslar>div>div._active {
    background: #efefef;
    background-image: -moz-linear-gradient(top, #f0f0f0, #fafafa);
    background-image: -webkit-linear-gradient(top, #f0f0f0, #fafafa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #fafafa));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#f0f0f0, EndColorStr=#fafafa)";
    background-image: linear-gradient(top, #f0f0f0, #fafafa)
}
#hm_tuslar>div>div:hover {
    box-shadow: #ccc 1px 1px 3px
}
#hm_tuslar #hmt_13 {
    border: 1px solid #3079ed;
    color: #fff;
    background: #4f80d6;
    background-image: -moz-linear-gradient(top, #6eb2e6, #4169ce);
    background-image: -webkit-linear-gradient(top, #6eb2e6, #4169ce);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6eb2e6), color-stop(1, #4169ce));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#6eb2e6, EndColorStr=#4169ce)";
    background-image: linear-gradient(top, #4169ce, #6eb2e6);
    width: 46%
}
#hm_tuslar #hmt_13 div {
    font: bold 20px/27px Verdana
}
#hm_tuslar #hmt_13._active {
    background: #00a;
    background-image: -moz-linear-gradient(top, #4169ce, #6eb2e6);
    background-image: -webkit-linear-gradient(top, #4169ce, #6eb2e6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4169ce), color-stop(1, #6eb2e6));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#4169ce, EndColorStr=#6eb2e6)";
    background-image: linear-gradient(top, #6eb2e6, #4169ce)
}
#hm_tuslar .diger {
    border: 1px solid #d0d0d0;
    font-size: 14px;
    background: #d0d0d0;
    background-image: -moz-linear-gradient(top, #f0f0f0, #d0d0d0);
    background-image: -webkit-linear-gradient(top, #f0f0f0, #d0d0d0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #d0d0d0));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#f0f0f0, EndColorStr=#d0d0d0)";
    background-image: linear-gradient(top, #d0d0d0, #f0f0f0)
}
#hm_tuslar div.diger._active {
    background: #c0c0c0;
    background-image: -moz-linear-gradient(top, #d0d0d0, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #d0d0d0, #f0f0f0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0d0d0), color-stop(1, #f0f0f0));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#d0d0d0, EndColorStr=#f0f0f0)";
    background-image: linear-gradient(top, #f0f0f0, #d0d0d0)
}
#hm_tuslar #hmt_120 div {
    line-height: 20px
}
#hm_tuslar #hmt_75 div {
    font: normal 22px/33px Arial
}
#hm_tuslar #hmt_44 div {
    font: normal 30px/20px Arial
}
#hm_tuslar #hmt_42,
#hm_tuslar #hmt_43,
#hm_tuslar #hmt_45,
#hm_tuslar #hmt_47 {
    border: 1px solid #dedede;
    color: #fff;
    border-color: #444;
    background: #666;
    background-image: -moz-linear-gradient(top, #777, #333);
    background-image: -webkit-linear-gradient(top, #777, #333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #777), color-stop(1, #333));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#777, EndColorStr=#333)";
    background-image: linear-gradient(top, #777, #333)
}
#hm_tuslar #hmt_42 div,
#hm_tuslar #hmt_43 div,
#hm_tuslar #hmt_45 div,
#hm_tuslar #hmt_47 div {
    font: normal 24px/30px Arial
}
#hm_tuslar #hmt_42._active,
#hm_tuslar #hmt_43._active,
#hm_tuslar #hmt_45._active,
#hm_tuslar #hmt_47._active {
    background: #333;
    background-image: -moz-linear-gradient(top, #333, #777);
    background-image: -webkit-linear-gradient(top, #333, #777);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #777));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#333, EndColorStr=#777)";
    background-image: linear-gradient(top, #333, #777)
}
#hm_tuslar #hmt_1008,
#hm_tuslar #hmt_1046 {
    border: 1px solid #d14836;
    background: #d74937;
    color: #fff;
    background-image: -moz-linear-gradient(top, #e5634b, #c4261c);
    background-image: -webkit-linear-gradient(top, #e5634b, #c4261c);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e5634b), color-stop(1, #c4261c));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#e5634b, EndColorStr=#c4261c)";
    background-image: linear-gradient(top, #c4261c, #e5634b)
}
#hm_tuslar #hmt_1046>div {
    font: normal 13px/30px Arial
}
#hm_tuslar #hmt_1008>div {
    font-size: 20px
}
#hm_tuslar #hmt_1008._active,
#hm_tuslar #hmt_1046._active {
    background: #a00;
    background-image: -moz-linear-gradient(top, #c4261c, #e5634b);
    background-image: -webkit-linear-gradient(top, #c4261c, #e5634b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c4261c), color-stop(1, #e5634b));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#c4261c, EndColorStr=#e5634b)";
    background-image: linear-gradient(top, #e5634b, #c4261c)
}
/*-----------------------------------/
/-----------------------------------*/